<section class="signup-section pt-5" id="signup" style="min-height: 90vh">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <i class="far fa-user fa-2x mb-2 text-white"></i>
                <h2 class="text-white mb-5">Resetare Parola</h2>
                <div class="form-signup" id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <div class="form-group">
                        <input class="form-control" placeholder="Email ..." [(ngModel)]="email"/>
                    </div>
                    <button (click)="doReset()" class="btn btn-primary w-100 mt-4">Trimite email resetare</button>
                    <a class="btn btn-secondary btn-sm w-100 mt-2" [routerLink]="['/login']">Spre autentificare</a>
                </div>
            </div>
        </div>
    </div>
</section>

