@{
    ViewBag.Title = "Confirm Email";
}

<section class="bg-light py-10">
    <div class="container">
        <h2>@ViewBag.Title.</h2>
        <div>
            <p>
                Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
</section>
