Anul\ II/Semestrul\ 2/Retele\ de\ calculatoare/aws/
Anul II/Semestrul 2/IA/Tester/.idea/workspace.xml
update.command
update.sh
.idea/
__pycache__/
venv/
Anul\ III/Semestrul\ 2/Adeverinta_Practica_Buhai\ Darius.pdf

