<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Estimator AR</title>
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body class="d-flex flex-column h-100" data-new-gr-c-s-check-loaded="14.1028.0" data-gr-ext-installed="">

    <!-- Begin page content -->
    <main class="flex-shrink-0">
      <div class="container text-center">
        <h1 class="mt-5">{{ title }}</h1>
        <p class="lead">{{ message }}</p>
      </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
          <span class="text-muted"><a href="https://estimatorar.com/">Estimator AR</a></span>
      </div>
    </footer>

    <script src="/assets/js/bootstrap.min.js"></script>
    <script>
        setTimeout(function(){
            window.location.href = "https://estimatorar.com";
        }, 5000);
    </script>
    </body>
</html>
