<button
  class="random"
  [class]="isRed ? 'btn btn-danger' : 'btn btn-primary'"
  [ngClass]="isRed ? 'btn btn-danger' : 'btn btn-primary'"
  (click)="toggleIsRed()"
>
  Click
</button>

<div class="alert alert-danger" *ngIf="isRed">The button is red</div>
<div class="alert alert-danger" [hidden]="!isRed">The button is red</div>

<button class="btn btn-info" (click)="addStudent()">Add Student</button>
<ul>
  <li *ngFor="let student of studenti; let i = index">
    <app-student
      [nume]="student.firstName + ' ' + student.lastName"
      [ani]="student.email"
      [index]="i"
      (stergeNume)="stergeStudentInFunctieDeNume($event)"
    ></app-student>
  </li>
</ul>
