@model Lab10.Models.Category

<h2>Editare categorie</h2>

<form method="post" action="/Categories/Edit/@Model.CategoryId">

    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.HiddenFor(m => m.CategoryId)

    @Html.Label("CategoryName", "Denumire categorie")
    <br />
    @Html.Editor("CategoryName")
    <br /><br />

    <button class="btn btn-success" type="submit">Modifica categoria</button>
</form>

