@model Lab10.Models.Category
@{
    ViewBag.Title = "Afisare categorie";
}

<h2>@ViewBag.Title</h2>

<p>@Model.CategoryName</p>

<form method="post" action="/Categories/Delete/@Model.CategoryId">

    @Html.HttpMethodOverride(HttpVerbs.Delete)

    <button class="btn btn-success" type="submit">Sterge categoria</button>

</form>


