@{
    ViewBag.Title = "Despre Noi";
}
<section class="bg-light py-10">
    <div class="container">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <p>
            Aplicatie creata de <a href="https://darius.buhai.ro">Darius Buhai</a> in colaborare cu Darius Atudore George.
            Toate drepturile rezervate.
        </p>
    </div>
</section>
