@{
    ViewBag.Title = "Home Page";
}


<section class="bg-light py-10">
    <div class="container">
        <br /><br /><br />
        <div class="jumbotron">
            <h1>Magazin Online</h1>
            <p class="lead">Magazin Online de Haine si Accesorii Vestimentare</p>
            <p><a href="/Products" class="btn btn-primary btn-lg">Produse &raquo;</a></p>
        </div>
    </div>
</section>
