<form [formGroup]="myForm" (ngSubmit)="doRegister()">
  <div class="form-group">
    <label>Email</label>
    <input class="form-control"
    formControlName="email"
    [ngClass]="myForm.controls.email.errors?'is-invalid':''"
    />
  </div>
  <div class="form-group">
    <label>First Name</label>
    <input class="form-control"  
    formControlName="firstName"
    [ngClass]="myForm.controls.firstName.errors?'is-invalid':''"/>
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input class="form-control"
    formControlName="lastName"
    [ngClass]="myForm.controls.lastName.errors?'is-invalid':''"/>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input class="form-control"
    formControlName="password" 
    type="password"
    [ngClass]="myForm.controls.password.errors?'is-invalid':''"/>
  </div>
  <button 
  [disabled]="!myForm.valid"
  class="btn btn-success" type="submit">Register</button>
</form>



<a (click)="goToRegister()">Login</a>
