* {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    color: #555;
}

body {
    background: url('https://raw.githubusercontent.com/WebToLearn/personal-page-css-workshop/master/img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

p {
    font-family: 'Lato', sans-serif;
    line-height: 1.5em;
    margin: 0 0 1.5em 0;
}

.header {
    margin-top: 30px;
}

.container {
    background: white;
    width: 990px;
    margin: 0 auto 30px auto;
    padding: 30px 20px;
    border: 1px solid #f1f1f1;
    box-shadow: 0px 6px #c0392b;
    border-radius: 0px 0px 4px 4px;
    display: flex;
}

.title{
    margin: 0;
    font-family: Lato;
    font-size: 45px;
    font-weight: 700;
    font-variant: titling-caps;
    text-align: center;
}

.subtitle{
    color: #999;
    margin-bottom: 1em;
    font-family: Lato;
    font-size: 1.5em;
    word-spacing: 1em;
    line-height: 1em;
    font-variant: titling-caps;
    text-align: center;
}

.menu{
    width: 990px;
    margin: 80px auto 0 auto;
    text-align: center;
}

.menu-item{
    margin-right: 10px;
    margin-left: 20px;
    padding: 10px 40px 20px 40px;
    display: inline-block;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    font-variant: titling-caps;
    font-family: Lato;
    font-size: 14px;
    color: #999;
    alignment: bottom;
}

.menu-item:hover{
    position: relative;
    bottom: -1px;
    color: rgb(218, 87, 70);
    padding: 15px 40px 20px 40px;
    margin-top: 0px;
}

.menu-item-active{
    position: relative;
    bottom: -1px;
    color: rgb(218, 87, 70);
    padding: 15px 40px 20px 40px;
    margin-top: 0px;
}

.resume-aside{
    background-image: linear-gradient(135deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 5rem 5rem;
}

hr{
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid #f1f1f1;
}

.resume-content{
    width: 70vw;
    padding-right: 30px;
    margin-right: 20px;
    border-right: 2px solid #f1f1f1;
}

.resume-title{
    font-weight: bold;
    color: rgb(70, 70,70);
    font-size: 30px;
    alignment: left;
}

.resume-subtitle{
    color: rgb(70, 70,70);
    font-weight: 800;
    box-sizing: border-box;
    float: left;
    width: 300px;
}

.resume-date{
    float: right;
    border-radius: 3px;
    padding: 4px;
    color: white;
    margin: 0;
    height: 20px;
    text-align: center;
    font-size: 9px;
}

.bg-blue{
    background-color: rgb(117, 191, 219);
}

.bg-green{
    background-color: rgb(101, 200, 122);
}

.bg-green-gradient{
    background: repeating-linear-gradient(-45deg, rgb(101, 200, 122), rgb(101, 200, 122) 15px, rgb(124, 211, 148) 15px, rgb(124, 211, 148) 30px);
}

.bg-orange{
    background-color: rgb(217, 131, 57);
}

.bg-orange-gradient{
    background: repeating-linear-gradient(-45deg, rgb(217, 131, 57), rgb(217, 131, 57) 15px, rgb(224, 155, 92) 15px, rgb(224, 155, 92) 30px);
}

.bg-dark{
    background-color: rgb(48, 62, 79)
}

.bg-dark-gradient{
    background: repeating-linear-gradient(-45deg, rgb(48, 62, 79), rgb(48, 62, 79) 15px, rgb(89, 101, 114) 15px, rgb(89, 101, 114) 30px);
}

.bg-red{
    background-color: rgb(202, 92, 85);
}

.bg-red-gradient{
    background: repeating-linear-gradient(-45deg, rgb(202, 92, 85), rgb(202, 92, 85) 15px, rgb(192, 103, 90) 15px, rgb(192, 103, 90) 30px);
}

.bg-purple{
    background-color: rgb(132, 75, 168);
}

.bg-purple-gradient{
    background: repeating-linear-gradient(-45deg, rgb(132, 75, 168), rgb(132, 75, 168) 15px, rgb(156, 110, 184) 15px, rgb(156, 110, 184) 30px);
}

.bg-gray{
    background-color: rgb(130, 140, 141);
}

.bg-gray-gradient{
    background: repeating-linear-gradient(-45deg, rgb(130, 140, 141), rgb(130, 140, 141) 15px, rgb(155, 163, 164) 15px, rgb(155, 163, 164) 30px);
}

.bg-yellow{
    background-color: rgb(235, 196, 69);
}

.bg-yellow-gradient{
    background: repeating-linear-gradient(-45deg, rgb(235, 196, 69), rgb(235, 196, 69) 15px, rgb(239, 208, 92) 15px, rgb(239, 208, 92) 30px);
}

.skills{
    list-style-type: none;
    padding: 0;
}

.skills-item{
    display: block;
    border: 2px solid #f1f1f1;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: 14px;
    list-style-type: none;
}

.skills-bg{
    border-radius: 5px;
    padding: 6px;
    padding-left: 10px;
    display: block;
    height: 28px;
}

.photoshop{
    width: 100px
}

.ilustrator{
    width: 280px
}

.indesign{
    width: 200px;
}

.firework{
    width: 130px;
}

.dreamweaver{
    width: 180px;
}

.office{
    width: 170px;
}

.linux{
    width: 180px;
}

.user{
    width: 90px;
}

.typography{
    width: 280px;
}

.web{
    width: 140px;
}

.html{
    width: 130px;
}

.php{
    width: 200px;
}

.javascript{
    width: 280px
}

.ruby{
    width: 250px;
}

.python{
    width: 250px;
}

.portofolio-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

@media (max-width: 990px){
    .portofolio-item{
        width: calc(99% - 20px);
        margin: 10px;
        background-color: black;
    }
    .contact-item{
        width: calc(99% - 20px);
        margin: 10px;
        text-align: center;
    }
}

@media (max-width: 768px){
    .portofolio-item{
        width: calc(99% - 20px);
        margin: 10px;
        background-color: black;
    }
    .contact-item{
        width: calc(99% - 20px);
        margin: 10px;
        text-align: center;
    }
}

@media (min-width: 990px){
    .portofolio-item{
        width: calc(33% - 20px);
        margin: 10px;
        background-color: black;
    }
    .contact-item{
        width: calc(33% - 20px);
        margin: 10px;
        text-align: center;
    }
}

.contact-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

