<h1>
  Login
</h1>
<h4>Welcome {{user.email}}</h4>
<div class="form-group">
  <label>Email</label>
  <input 
  class="form-control" 
  placeholder="Email ..."
  [(ngModel)]="user.email"
  [ngClass]="error?'is-invalid':''"
  (keydown.enter)="isNotValid()?null:doLogin()"
  />
</div>
<div class="form-group">
  <label>Password</label>
  <input 
  class="form-control" 
  placeholder="Password ..." 
  type="password" 
  [(ngModel)]="user.password"
  (keydown.enter)="isNotValid()?null:doLogin()"
  />
</div>

<button 
[disabled]="isNotValid()"
(click)="doLogin()"
class="btn btn-success">Login</button>

<div 
class="alert alert-danger" 
*ngIf="error">{{error}}</div>

<a [routerLink]="['/register']">Register</a>

