@model Lab10.Models.Comment



<h2>Editare comentariu</h2>
<form method="post" action="/Comments/Edit/@Model.CommentId">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <label>Continut comentariu</label>
    <br />
    <textarea name="Content">@Model.Content</textarea>
    <br />
    <button class="btn btn-success" type="submit">Editeaza comentariu</button>
</form>

