@model BuhaiDarius34.Models.Subject
@{
    ViewBag.Title = "Afisare subiect";
}

<h2>@ViewBag.Title</h2>

<p>@Model.NumeSub</p>

<form method="post" action="/Subjects/Delete/@Model.Id">

    @Html.HttpMethodOverride(HttpVerbs.Delete)

    <button class="btn btn-danger btn-sm" type="submit"><i class="glyphicon glyphicon-trash"></i>&nbsp; Sterge</button>
    <a class="btn btn-success btn-sm" href="/Subjects/Edit/@Model.Id"><i class="glyphicon glyphicon-edit"></i>&nbsp; Editeaza</a>
</form>
<br /><hr />
<a class="btn btn-primary" href="/Subjects/Index/"><i class="glyphicon glyphicon-eye-open"></i>&nbsp; Afisare lista subiecte</a>

<br />

