
@{
    ViewBag.Title = "Adaugare Subiect";
}

<h2>@ViewBag.Title</h2>

<form method="post" action="/Subjects/New">
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.Label("NumeSub", "Denumire Subiect")
    <br />

    @Html.TextBox("NumeSub", null, new { @class = "form-control" })
    <br /><br />

    <button class="btn btn-success" type="submit">Adauga Subiect</button>
</form>

