
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 - Page not found</title>
</head>
<body>
<div style="padding: 40px;padding-top: 100px">
    <!-- T6 - 6 -->
    <!-- To be fixed random_request -->
    <div id="game" onclick="game_start()" style="border-bottom-color: #24292e;border-bottom-style: solid;width: 100%;user-select: none;-webkit-user-select: none;cursor:pointer">
        <p style="text-align: center" id="show-game-score" hidden>Score: <b id="game-score"></b></p>
        <p id="game-message"> Press to start</p>
        <div id="game-content" onclick="trex_jump()" style="width: 100%;height: 50px" hidden>
            <img id="trex" src="/trex.png" style="width: 50px;position: absolute;top:155px;">
            <div id="game-generate">
            </div>
        </div>
        <!--<button onclick="pause_game()">Pause</button>-->
    </div>
    <br><br><br><br>
    <h1 style="text-align: center">404 Page not found</h1>
</div>

</body>
<script src="random.js"></script>
</html>