<!DOCTYPE html>
<html lang="en">
<head>
    <title>Waiter</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/style.css">

    <script defer src="/fontawesome/js/all.js"></script>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
<main>
    <nav id="navbar" class="nav-container">
        <button class="nav-toggle" onclick="toggle_expand_navbar()"><i class="fa fa-bars fa-2x"></i></button>
        <div class="nav-content">
            <div class="index-content">
                <a href="/"><i class="fa fa-chevron-left"></i>&nbsp;&nbsp; Back</a>
            </div>
        </div>
    </nav>
</main>
</body>
</html>