<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="padding: 40px;padding-top: 100px">
        <!-- T2 - 1 -->
        <!-- To be fixed day -->
        <div>
            <h4>Calculator varsta: </h4>
            <input placeholder="month#day#year" onkeyup="update_age()" id="age-calculator">
            <p hidden id="age-has-generated">Au trecut <b id="age-generated"></b> de cand te-ai nascut</p>
        </div>
    </div>

</body>
<script src="random.js"></script>
</html>