@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Conferinte online</h1>
    <p class="lead">Detalii despre conferintele tale online!</p>
    <p><a href="/Meetings/Index" class="btn btn-primary btn-lg">Acceseaza conferinte &raquo;</a></p>
</div>